.contact-contain {
    width: 80%;
    /* border: 3px solid black; */
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}
.contactHead{
    position: absolute;
    top: 30px;
}
.contain{
    background-color: black;
}
.test-mailing{
    height: 100vh
}

@media only screen and (max-width: 600px) {
    .contactHead{
       font-size: 30px;

    }
    .contact-contain {

        margin-top: -100px;

    }
  }