.sectionOne {
    color: white;
    font-size: 60px;
    text-align: left;
    position: absolute;
    top: 10%;
    left: 10%;
}

.top {
    height: 350px;
    width: 100%
}

.contain {
    position: relative;
    text-align: left;
    color: white;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    grid-gap: 15px;

}

.logoimg {
    height: 100px;
}

.sectionTwo {
    margin-top: -40px;
    /* height: 700px; */
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 40%, rgba(22, 0, 212, 1) 100%);
}

.about {
    margin-top: 50px;
    color: white;
    height: fit-content;
    border-radius: 10px;
}

.subsection_title {
    font-size: 40px;
}

.section_head {
    font-size: 30px;
}

p {
    font-size: 20px
}

.projContain {
    margin-left: 10%;
    width: 80%;
    text-align: center;
    margin: auto;
}
.card{
    height:400px;
    border: none !important;
    color: white !important;
    background-color: #030023 !important;
}
.card-body, .card {
    background-color: white;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.card, .card-img-top, .card-image {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card .card-content .card-title {
    color: white !important;
}
.card-image{
    height: 256px;

}
.aboutDetails{
    margin-left: 10%
}
.subTitle{
    text-align: center;
    font-weight: bold;
}
.projFlex {
    display: flex;
    justify-content: space-around;
    grid-gap: 20px;
    flex-wrap: wrap;

}
.card .card-image img {
    display: block;
    border-radius: 15px 15px 15px 15px !important;
    position: relative;
    /* left: 0; */
    /* right: 0; */
    top: 30px !important;
    /* bottom: 0; */
    width: 80% !important;
    margin: auto !important;
    border: 2px solid white;
    height: 200px ;
}
.more-info{
    color: black;
}

/* a.sidenav-trigger.show-on-large {
    display: none !important;
} */
@media only screen and (max-width: 600px) {
    .sectionOne {
      font-size: 30px;
    }
  }

  /* @media only screen and (max-width: 1000px) {
    .sidenav-trigger{
        display: block !important;
    }
} */